{form form, class=>'form-horizontal'}
	<div n:foreach="$form->getErrors() as $error">
		<p class="alert alert-warning">{$error}</p>
	</div>
	<div class="form-group">
		<label>jmeno:
			{input username, class=>"form-control"}
		</label>
	</div>
	<div class="form-group">
		<label> heslo:
			{input password, class=>"form-control"}
		</label>
	</div>
	<div class="form-group">
			{input send}
			
	</div>
			
{/form}